.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
}

.trybewarts-header-logo {
  width: 150px;
  height: 150px;
}

.trybewarts-login {
  display: flex;
  justify-content: flex-end;
}

#trybewarts-forms-logo {
  height: 500px;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px
}

main {
  display: flex;
  flex-direction: column;
}

.evaluation-form-inputs {
  display: flex;

}

.evaluation-form-radio {
  display: flex;
}

.evaluation-form-checkbox {
  display: flex;
}

.evaluation-form-agreement {
  display: flex;
}